.button {
    color: #960018;
    text-decoration: none;
    margin: 20px;
    padding: 10px 40px;
    background-color:  #fedfe5;
    border-radius: 15px;
    border: 2px solid #960018;
}

.button:hover {
    background-color: #960018;
    color: #fedfe5;
    border: #fedfe5 2px solid;
}

.button:active {
	position:relative;
	top:2px;
}
