.card {
  width: 70%;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: var(--montserrat-sand);
  line-height: 1.6;
}

.gift_card {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 #af7395;
}

.card_img_container {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.img_card {
  width: 10rem;
  height: auto;
  margin-bottom: 1rem;
}

.card h3 {
  text-align: center;
  font-family: var(--great-sand);
}

.card p {
  width: 100%;
  margin-bottom: 1rem;
}

.card b {
  font-weight: 700;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 720px) {
  .cont_cards {
    flex-direction: row;
    align-items: stretch;
  }

  .card img {
    height: 35%;
    width: 70%;
  }
  .sec_cards h4 {
    font-size: 3.2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .card img {
    width: 60%;
  }
  .card {
    width: 23%;
  }

  .sec_cards h4 {
    font-size: 5.2rem;
  }
}
