#drunk {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    font-family: var(--montserrat-sand);
    background-image: url("../img/backparty.jpg");
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 6px #a600b8;
}

#drunk h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.drunk_cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.drunk_cont img {
    width: 70%;
    border-radius: 5px;
    border: 3px solid #9900ff;
}

.drunk_cont p {
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 80%;
}

@media only screen and (min-width: 720px) {
    .drunk_cont img {
        width: 40%;
    }
}

@media only screen and (min-width: 1152px){
    #drunk{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}