#family_container {
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d0a848;
    font-family: var(--montserrat-sand);
}

.top_paragraph {
    width: 83%;
}

.family-card {
    border: none;
    background-color: #181818;
    width: 60%;
}

.family-card img {
    border-radius: 100%;
    width: 70%;
}

#family_container h3 {
    color: #d0a848;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.girl_dads {
    margin-bottom: 2rem;
}

.dads p {
    margin: .3rem;
}

@media only screen and (min-width: 720px) {
    .family-card {
        width: 30%;
    }

    .family-card img {
        width: 50%;
    }
}