.family_container {
    color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--montserrat-sand);
    position: relative;
    padding: 4rem 0rem;
}

.family-card {
    width: 60%;
}

.family_container h3 {
    color: #960018;
    font-size: 3rem;
    margin-bottom: 1rem;
}

@media only screen and (min-width: 720px) {
    .family-card {
        width: 40%;
    }

    .family-card img {
        width: 50%;
    }
    .family_container h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
}
}