footer{
    padding: 1rem;
    background-color: #ffeaf6;
    font-family: var(--montserrat-sand);
    text-align: center;
    font-weight: 600;
}

footer p{
    font-size: .9rem;
}

footer img{
    width: 100px;
}

