.gift_section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  line-height: 1.6;
}

.gift_section h3 {
  font-family: var(--great-sand);
  font-size: 3rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 720px) {
  .gift_button_sec a {
    width: 30%;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  .gift_button_sec a {
    max-width: 384px;
    font-size: 1.9rem;
  }
}
