.gift_cont{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    font-family: var(--montserrat-sand);
    color: #000000;
    background-color: #d0a848;
}

.gift_cont h3{
    font-size: 2rem;
    font-weight: 500;
}

.gift_button_sec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    padding-bottom: 1rem;
    width: 100%;
}

.gift_button_sec img{
    height: 30px;
    margin: auto;
}

.gift_button_sec a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 30px;
    width: 120px;
    background-color: #d4c298;
}

@media only screen and (min-width: 720px){
    .gift_button_sec a{
        width: 30%;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1280px){
    .gift_button_sec a{
        max-width: 384px;
        font-size: 1.9rem;
    }
}