
nav {
    background-color: #cba075; /* Color café camello */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    display: none;
}

nav p{
    color: red;
    text-align: center;
    padding-top: 1rem;
}

.logo {
    font-size: 2rem;
}

.nav_links {
    list-style: none;
    display: flex;
}

.nav_links li {
    margin-right: 1rem;
    font-size: 1rem;
}