.message {
  background-color: #fedfe5;
  color: #000000;
}

.message_paragraph {
  font-family: var(--montserrat-sand);
  text-align: center;
  padding: 2rem;
  font-size: 1rem;
  line-height: 1.6;
}

/* Sección de imagen - ventana para ver fondo fijo */
.img-section {
  height: 100vh;
  position: relative;
}

/* Degradado inferior */
.soft-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fedfe5);
  pointer-events: none;
  opacity: 0;
}

.soft-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #fedfe5);
  pointer-events: none;
  opacity: 0;
}

.soft-section.show-fade::after,
.soft-section.show-fade::before {
  opacity: 1;
}

@media only screen and (min-width: 720px) {
  .img_body {
    height: 100vh;
  }
  .img_body .message_paragraph {
    font-size: 5rem;
  }

  .message h3 {
    font-size: 4rem;
  }

  .message_paragraph {
    font-size: 1.5rem;
  }

  #mes_by_one {
    height: 500px;
  }
}

@media only screen and (min-width: 1280px) {
  .img_body {
    height: 80vh;
  }
}
