.outfit {
    font-family: var(--montserrat-sand);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #d0a848;
}

.outfit img {
    width: 40%;
}

.outfit h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.outfit h4 {
    font-size: 1.3rem;
}

.nochilldren{
    font-weight: bold;
}

@media only screen and (min-width: 720px) {
    .outfit img {
        width: 20%;
    }
}